

<form id="myForm" action="{% url 'tracker:expense_update_formset' %}" method="post" class="js-expense-update-formset">
    {% csrf_token %}

    {{ formset.management_form }}

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Update expense</h4>
    </div>
    <div class="modal-body">


      <table id="table-product" class="table">
          <thead>
          <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Type</th>
              <th>Payment</th>
              <th>Amount</th>
              <th> </th>
          </tr>

          </thead>



              <tbody class="player-instances">
              {% for field in formset %}

              <tr>
                  <td>{{ field.date }}</td>
                  <td>{{ field.description }}</td>
                  <td>{{ field.type }}</td>
                  <td>{{ field.payment }}</td>
                  <td>{{ field.amount }}</td>
                  <td class="hidden">{{ field.id }}</td>
                  <td></td>
              </tr>

              {% endfor %}

              </tbody>


      </table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Update expense</button>
    </div>

</form>
